
.attendanceChart {
    height: 100%;
    padding: 1rem;
    background: white;
    border-radius: 0.5rem;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 1.125rem;
            font-weight: 600;
        }
    }
}